body{
  margin:0;
  padding:0;
}

#mainDiv{

}

.Group-15 {
  width: 168px;
  height: 32px;
  object-fit: contain;
}
.CHORDPLAY {
  width: 192px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}
#libraryDiv{
  background-color: #36393D;

}
#chordplayDiv{
  background-color: #36393D;

}
#homeDiv{
  padding-left: 24;

  padding-top: 32;
  padding-down: 26;
}
#searchinput{
  padding-left: 18;
  padding-right: 18;
  padding-down: 20;
}
#treetitle{

}
#chordtreeDiv{
  background-color: #36393D;
  height: auto;
  cursor: pointer;
  overflow: scroll;
}
#chordtable{
  border-collapse: collapse;

}

.basetree{
  height: 65;
  background-color: #939393;
  border-top: 2px solid #36393D;
  border-bottom: 2px solid #36393D;
}
.chordname{
  vertical-align: middle;
  font-family: Roboto;
  color: #FFFFFF;
  font-size: 20;
}
.deeptree{
  height: 65;
  background-color: #36393D;
  border-top: 2px solid #484B4E;
  border-bottom: 2px solid #484B4E;

}
#rightDiv{
  flex-grow: 1;
}

#menuDiv{
  background-color: #ffffff;
}

.menuDiv2{
  float:left;
}

#selectionDiv{
  width:150px;

}
#buttonDiv{

}

#line{
  border-bottom: 2px solid #979797;
  /*vertical-align: bottom;*/
}

.menubutton {
  position: relative;
}

#playButton {
  /*left: 500px;*/
}

#stopButton{

}

#invertChordButton {
}

#changeRhythmButton {
}

#deleteChordsButton {
}

#deleteBarsButton {
}

#insertBarAfterButton {
}

#addBarsButton {
  float: right;
}

#exportScoreButton {
  float: right;
}

#scoreDiv{
  /* background-color: #e0edff; */
  overflow-y: auto;
  overflow-x: hidden;
}

#importDiv{
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
}

#lineImportDiv{
  border-bottom: 5px solid #979797;
  cursor: row-resize;
  /*vertical-align: bottom;*/
}

#headerImport{
	padding: 10px 15px 10px 15px;
}

#ghostbar{
  z-index: 9999;
  height: 5px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  cursor: row-resize;
}

#files{
	float:right;
}
#filename{
	float:left;
}

#melody{
  overflow:scroll;
}
.thumb {
    border: 1px solid #000;
  }


img{
  width: 100%
}

.hidden {
  display: none;
}
