body{
  margin:0;
  padding:0;
}

#mainDiv{
  display: flex;
}

#libraryDiv{
  background-color: #fef9c7;
}

#rightDiv{
  flex-grow: 1;
}

#menuDiv{
  background-color: #ffffff;
}

#line{
  border-bottom: 2px solid #979797;
  /*vertical-align: bottom;*/
}

.menubutton {
  position: relative;
}

#playButton {
}

#invertChordButton {
}

#changeRhythmButton {
}

#deleteChordsButton {
}

#deleteBarsButton {
}

#insertBarAfterButton {
}

#addBarsButton {
  float: right;
}

#exportScoreButton {
  float: right;
}

#scoreDiv{
  /* background-color: #e0edff; */
  overflow-y: auto;
  overflow-x: hidden;
}

#importDiv{
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
}

#lineImportDiv{
  border-bottom: 2px solid #979797;
  cursor:pointer;
  /*vertical-align: bottom;*/
}

#headerImport{
	padding: 10px 15px 10px 15px;

}

#files{
	float:right;
}
#filename{
	float:left;
}

#melody{
  overflow:scroll;
}
.thumb {
    border: 1px solid #000;
  }


img{
  width: 100%
}
