body{
  margin:0;
  padding:0;
}

#mainDiv{

}

.Group-15 {
  width: 168px;
  height: 32px;
  object-fit: contain;
}
.CHORDPLAY {
  width: 192px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}
#libraryDiv{
  background-color: #36393D;

}
#chordplayDiv{
  background-color: #36393D;

}
#homeDiv{
  padding-left: 24;

  padding-top: 32;
  padding-down: 26;
}
#searchinput{
  padding-left: 18;
  padding-right: 18;
  padding-down: 20;
}
#treetitle{

}
#chordtreeDiv{
  background-color: #36393D;
  cursor: pointer;
  overflow-y: auto;
}
#chordtable{
  border-collapse: collapse;

}

.basetree{
  height: 65;
  background-color: #939393;
  border-top: 2px solid #36393D;
  border-bottom: 2px solid #36393D;
}
.chordname{
  vertical-align: middle;
  font-family: Roboto;
  color: #FFFFFF;
  font-size: 20;
}
.deeptree{
  height: 65;
  background-color: #36393D;
  border-top: 2px solid #484B4E;
  border-bottom: 2px solid #484B4E;

}
#rightDiv{
  flex-grow: 1;
}

#menuDiv{
  background-color: #ffffff;
}

.menuDiv2{
  float:left;
}

.menuDiv3{
  float: left;
}

#selectionDiv{
  width:300px;

}

#iconSelection{
  width:100px;
}

#textSelection{
  padding-left: 15px;
}

#selectedText{
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  color: #B1B1B1;
}

#selected{

}

#buttonDiv{

}

#line{
  border-bottom: 2px solid #979797;
  /*vertical-align: bottom;*/
}

.menubutton {
  position: relative;
}

.selectbutton {
}

#noselect{
  float : right;
}

#selected{
  float : right;
}

#playButton {
  /*left: 500px;*/
}

#stopButton{

}

#pauseButton{

}

#invertChordButton {
}

#invertChordButton2 {
}

#changeRhythmButton {
}

#changeRhythmButton2 {
}

#deleteChordsButton {
}

#deleteChordsButton2 {
}

#deleteBarsButton {
}

#deleteBarsButton2 {
}

#insertBarAfterButton {
}

#insertBarAfterButton2 {
}

#addBarsButton {
  float: right;
}

#exportScoreButton {
  float: right;
}

#scoreDiv{
  /* background-color: #e0edff; */
  overflow-y: auto;
  overflow-x: hidden;

}

#importDiv{
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
}

#lineImportDiv{
  border-bottom: 5px solid #979797;
  cursor: row-resize;
  /*vertical-align: bottom;*/
}

#headerImport{
	padding: 10px 15px 10px 15px;
}

#ghostbar{
  z-index: 9999;
  height: 5px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  cursor: row-resize;
}

.selectedBar{
  background-color: rgb(230,239,255);
}

#files{
	float:right;
}
#filename{
	float:left;
}

#melody{
  overflow:auto;
}
.thumb {
    border: 1px solid #000;
}

.enabled{
    cursor: pointer;
}

img{
  width: 100%
}

.hidden {
  display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

/*.scoreDiv{*/
    /*display: inline-block;*/
    /**display: inline;*/
    /*vertical-align: top;*/
/*}*/

#bpm{
    background-color: transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000000 1px;
    padding: 3px;
    width: 50px;
}