body{
  margin:0;
  padding:0;
}

#mainDiv{

}

.Group-15 {
  width: 168px;
  height: 32px;
  object-fit: contain;
}
.CHORDPLAY {
  width: 192px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}
#libraryDiv{
  background-color: #36393D;

}
#chordplayDiv{
  background-color: #36393D;

}
#homeDiv{
  padding-left: 24;

  padding-top: 32;
  padding-down: 26;
}
/*
#searchinput{
  padding-left: 18;
  padding-right: 18;
  padding-down: 20;
}*/

#searchArea{
  background-color: #FFFFFF;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000000 1px;
  padding: 3px 10px;
  width: 5em
}

#treetitle{

}
#chordtreeDiv{
  background-color: #36393D;
  /* cursor: move; */
  overflow-y: auto;
}
#chordtable{
  border-collapse: collapse;

}

.basetree{
  height: 65px;
  background-color: #939393;
  border-top: 2px solid #36393D;
  border-bottom: 2px solid #36393D;
  padding-left: 10px;
  line-height: 13px;
  cursor : pointer;
  line-height: 13px;
}
.chordname{
  vertical-align: middle;
  font-family: Roboto, sans-serif;
  color: #FFFFFF;
  font-size: 26px;
  width: 172px;
}
.deeptree{
  height: 65px;
  background-color: #36393D;
  border-top: 2px solid #484B4E;
  border-bottom: 2px solid #484B4E;
  padding-left: 10px;
  cursor: -webkit-grab;
  line-height: 13px;
}

.triangle {
  width: 40px;
  height: 65px;
  object-fit: contain;
}

.dragaffordance{
  width: 40px;
  height: 65px;
  object-fit: contain;
}
.dragaffordance2{
  width: 40px;
  height: 65px;
  object-fit: contain;
}
.triangleDiv {
	height: 100%;
}

.basetrees {
	float: left;
}

.basetrees2{
  float: left;
}
#rightDiv{
  flex-grow: 1;
}

#menuDiv{
  background-color: #ffffff;
}

.menuDiv2{
  float:left;
}

.menuDiv3{
  float: left;
}

#selectionDiv{
  width:300px;

}

#iconSelection{
  width:100px;
}

#textSelection{
  padding-left: 15px;
}

#selectedText{
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  color: #B1B1B1;
}

#selected{

}

#buttonDiv{

}

#line{
  border-bottom: 2px solid #979797;
  /*vertical-align: bottom;*/
}

.menubutton {
  position: relative;
}

.selectbutton {
}

#noselect{
  float : right;
}

#selected{
  float : right;
}

#playButton {
  /*left: 500px;*/
}

#stopButton{

}

#pauseButton{

}

#invertChordButton {
}

#invertChordButton2 {
}

#changeRhythmButton {
}

#changeRhythmButton2 {
}

#deleteChordsButton {
}

#deleteChordsButton2 {
}

#deleteBarsButton {
}

#deleteBarsButton2 {
}

#insertBarAfterButton {
}

#insertBarAfterButton2 {
}

#addBarsButton {
  float: right;
}

#exportScoreButton {
  float: right;
}

#tempTitle{
  padding-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

#bpmDiv{
  padding-top: 30px;
  padding-left: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

#bpm{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

#scoreDiv{
  /* background-color: #e0edff; */
  overflow-y: auto;
  overflow-x: hidden;

}

#importDiv{
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
}


#lineImportDiv{
  border-bottom: 5px solid #979797;
  cursor: row-resize;
  /*vertical-align: bottom;*/
}

#headerImport{
	padding: 15px 25px 15px 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

#ghostbar{
  z-index: 9999;
  height: 5px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  cursor: row-resize;
}

.selectedBar{
  background-color: rgb(230,239,255);
}

#files{
	float:right;
}
#filename{
	float:left;
}

#melody{
  overflow:auto;
}
.thumb {
    border: 1px solid #000;
}

.enabled{
    cursor: pointer;
}

img{
  width: 100%
}

.hidden {
  display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
	right: 0;
    position: fixed;
    height: 330px;
    bottom: 0;
    background-color: #fefefe;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
  height: 13px;
  background-color: #36393d;
}

.modal-body {
}

.modal-bodys {
	float: left;
}

#modal-body1 {
	padding-left: 45px;
	padding-top: 10px;
	width: 405px;
	float: left;
  font-family: 'Roboto', sans-serif;
}
#subtitle{
	font-weight: 100;
}
#modal-body2 {
	padding-top: 50px;
}

.modal-bodys2{
	float: left;

}
.container {
    display: block;
    position: relative;
    padding-left: 110px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 70px;
    height: 25px;
    width: 25px;
    background-color: #eee;

    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #36393d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 7px;
	left: 7px;
	width: 11px;
	height: 11px;
	border-radius: 5.5px;
	background: white;
}

.rhythm{
  width: 261px;
  height: 210px;
  object-fit: contain;
  margin-left: -110px;
}

.invert{
  width: 261px;
  height: 210px;
  object-fit: contain;
  margin-left: -80px;

}
#modal-body3 {
	width: 300px;
	float: right;
}

.modal-bodys3{
	float: right;
	padding-right: 40px;
	padding-top: 33px;
}
.modalButton{
  width: 90px;
  height: 35px;
  object-fit: contain;
}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

/*.scoreDiv{*/
    /*display: inline-block;*/
    /**display: inline;*/
    /*vertical-align: top;*/
/*}*/

#bpm{
    background-color: transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000000 1px;
    padding: 3px;
    width: 50px;
}
