body{
  margin:0;
  padding:0;
}

#mainDiv{
  display: flex;
}

#libraryDiv{
  background-color: #fef9c7;
}

#rightDiv{
  flex-grow: 1;
}

#menuDiv{
  background-color: #ffe6f2;
}

#scoreDiv{
  /* background-color: #e0edff; */
  overflow-y: auto;
  overflow-x: hidden;
}

#importDiv{
  background-color: #a0db8e;
  position: fixed;
  z-index: 999;
}

img{
  width: 100%
}
