.halfBar {
    display: inline-block;
    *display: inline;
    vertical-align: top;
}

.chordText {
    background-color: transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000000 1px;
    padding: 3px 10px;
    width: 5em;
    font-family: Roboto, sans-serif;
}

.barLine {
    margin-bottom: 50px; /* to be adjusted */
}

.chordText.focused {
    font-weight: bold;
    color: dodgerblue;
    border-color: dodgerblue;
    border-bottom: solid 3px;
    margin-bottom: -2px;
}